

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: green;
}
p {
    color: gray;

}

a {
    position: absolute;
    right: 50%;
    top: 10px;
    background-color: green;    
    color: white;
    font-size: xx-large;
    text-decoration: none;
}

#one {
    
}

#two{
    
    width: 10em;
    border: solid;
    border-color: green;
    border-width: 5px;
    padding: 5px;
    margin: 5px;
    margin-top: 10px;
    position: absolute;
    right: 0;
    
}

#three{
    width: 10em;
    border: solid;
    border-color: orange;
    border-width: 5px;
    padding: 5px;
    margin: 5px;
    margin-top: 10px;
    position: absolute;
}

#four{
    width: 10em;
    border: solid;
    border-color: orange;
    border-width: 5px;
    padding: 5px;
    margin: 5px;
    margin-top: 10px;
    position: relative;
}